@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=PT+Sans:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background: #e1d4c9;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
li {
  list-style: none;
}
.container {
  padding: 0px 40px;
  width: 1440px;
  margin: auto;
}
.header {
  margin-top: 17px;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo {
  width: 100px;
  height: 60px;
}
.nav__items {
  display: flex;
  column-gap: 40px;
}
.nav__item {
  display: inline-block;
}
.nav__link {
  color: #403f3d;

  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
}

.nav__menu__link {
  color: #403f3d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 72px;
}
.enjoy {
  background-image: url('../images/hero.png');
  background-repeat: no-repeat;
  display: flex;
  max-width: 1360px;
  padding: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 40px;
  margin-top: 20px;
}
.enjoy__left {
  max-width: 530px;
}
.enjoy__title {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 72px;
  font-style: normal;
  font-weight: 600;
  line-height: 105%;
}
.enjoy__title span {
  color: #b0907a;
}
.enjoy__desc {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin: 40px 0px;
}
.enjoy__button {
  display: flex;
  color: #403f3d;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  border: none;
  width: 200px;
  padding: 20px 78px;
  border-radius: 100px;
  background: #e1d4c9;
}
.enjoy__button img {
  display: none;
  margin-left: 8px;
}
.enjoy__button:hover img {
  display: block;
}

.favorite__title {
  color: var(--text-dark, #403f3d);
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-top: 100px;
  margin-bottom: 40px;
}
.favorite__title span {
  color: var(--text-accent, #b0907a);
}
.favorite__sliders {
  width: 100%;
  position: relative;
}
.favorite__slide {
  display: flex;
  width: 1152px;
  min-width: 480px;
  max-width: 1162px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.favorite__slide__center {
  width: 480px;
  margin: auto;
  text-align: center;
}
.favorite__slide__image {
  width: 480px;
  height: 480px;
}
.farovite__slide__title {
  color: #403f3d;
  text-align: center;

  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
  margin: 20px 0px 10px;
}
.farovite__slide__text {
  color: #403f3d;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 0px 10px;
  margin-bottom: 16px;
}
.farovite__slide__price {
  color: #403f3d;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.favorite__icon__wrapper {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #665f55;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.4s ease-in-out;
}
.favorite__icon__wrapper:hover {
  background: #665f55;
}

.favorite__icon__right {
  right: 0;
}
.favorite__slide__points {
  display: flex;
  column-gap: 12px;
  justify-content: center;
  margin-top: 40px;
}
.favorite__slide__point {
  width: 40px;
  height: 4px;
  border-radius: 100px;
  background: #c1b6ad;
}
.favorite__slide__point-active {
  background: #665f55;
}
.about__title {
  color: #403f3d;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
  margin-top: 100px;
  width: 1400px;
}
.about__title span {
  color: #b0907a;
}
.about__images__wrapper {
  display: flex;
  column-gap: 40px;
  margin-top: 40px;
}
.about__left,
.about__right {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.about__image {
  border-radius: 20px;
  transition: all 0.4s ease-in-out;
}
.about__image:hover {
  transform: scale(0.9);
}
/* Mobile section start  */
.mobile {
  display: flex;
  column-gap: 100px;
  margin: 100px 0px;
  justify-content: center;
  align-items: center;
}
.mobile__left {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.mobile__title {
  color: #403f3d;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
}
.mobile__text {
  color: #403f3d;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.mobile__title span {
  color: var(--text-accent, #b0907a);
}
.mobile__links__wrapper {
  display: flex;
  column-gap: 20px;
}
/* Footer section start */
.footer {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 40px;
  background: #665f55;
  margin-bottom: 40px;
}

.footer__left,
.footer__right {
  width: 530px;
}
.footer__left__title {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 75px */
}
.footer__left__title span {
  color: #b0907a;
}
.footer__socials {
  display: flex;
  column-gap: 12px;
  margin-top: 40px;
}
.footer__social {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid #c1b6ad;
  transition: all 0.4s ease-in-out;
}
.footer__social:hover {
  background: var(--background-body, #e1d4c9);
}

.footer__right__title {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 30px */
}
.footer__address {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-top: 40px;
}
.footer__address__link {
  color: #e1d4c9;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 24px */
  position: relative;
  width: 260px;
  transition: all 0.4s ease-in-out;
}
.footer__address__link:hover:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #e1d4c9;
  top: 25px;
}
#footer {
  scroll-behavior: smooth;
}
